<%= form_for(@change) do |f| %>
  <% if @change.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@change.errors.count, "error") %> prohibited this change from being saved:</h2>

      <ul>
      <% @change.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :project %><br />
    <%= f.text_field :project %>
  </div>
  <div class="field">
    <%= f.label :artifact %><br />
    <%= f.text_field :artifact %>
  </div>
  <div class="field">
    <%= f.label :user %><br />
    <%= f.text_field :user %>
  </div>
  <div class="field">
    <%= f.label :version %><br />
    <%= f.number_field :version %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :artifact_type %><br />
    <%= f.text_field :artifact_type %>
  </div>
  <div class="field">
    <%= f.label :assigned_to_user %><br />
    <%= f.text_field :assigned_to_user %>
  </div>
  <div class="field">
    <%= f.label :artifact_status %><br />
    <%= f.text_field :artifact_status %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
