<p id="notice"><%= notice %></p>

<p>
  <b>Project:</b>
  <%= @comment.project %>
</p>

<p>
  <b>Artifact:</b>
  <%= @comment.artifact %>
</p>

<p>
  <b>Owner:</b>
  <%= @comment.owner %>
</p>

<p>
  <b>Body:</b>
  <%= @comment.body %>
</p>


<%= link_to 'Edit', edit_comment_path(@comment) %> |
<%= link_to 'Back', comments_path %>
