<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @project.user %>
</p>

<p>
  <b>Name:</b>
  <%= @project.name %>
</p>

<p>
  <b>Description:</b>
  <%= @project.description %>
</p>

<p>
  <b>Maximum history:</b>
  <%= @project.maximum_history %>
</p>


<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
