<%= form_for(@link) do |f| %>
  <% if @link.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@link.errors.count, "error") %> prohibited this link from being saved:</h2>

      <ul>
      <% @link.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :project %><br />
    <%= f.text_field :project %>
  </div>
  <div class="field">
    <%= f.label :from_artifact %><br />
    <%= f.text_field :from_artifact %>
  </div>
  <div class="field">
    <%= f.label :to_artifact %><br />
    <%= f.text_field :to_artifact %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
