<%= form_for(@artifact) do |f| %>
  <% if @artifact.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@artifact.errors.count, "error") %> prohibited this artifact from being saved:</h2>

      <ul>
      <% @artifact.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :project %><br />
    <%= f.text_field :project %>
  </div>
  <div class="field">
    <%= f.label :parent %><br />
    <%= f.text_field :parent %>
  </div>
  <div class="field">
    <%= f.label :assignee %><br />
    <%= f.text_field :assignee %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :identifier %><br />
    <%= f.text_field :identifier %>
  </div>
  <div class="field">
    <%= f.label :artifact_type %><br />
    <%= f.text_field :artifact_type %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
