<%= form_for @artifact, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :project_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :project_id, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :parent_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :parent_id, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :assignee_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.collection_select :assignee_id, @users, :id, :name, {:prompt => false} %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :description, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :description, :class => 'text_area' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :identifier, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :identifier, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :artifact_type_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.collection_select :artifact_type_id, @types, :id, :title, {:prompt => false} %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :artifact_status_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :artifact_status_id, :class => 'number_field' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                artifacts_path, :class => 'btn' %>
  </div>
<% end %>
