<%- model_class = Artifact -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human %> change history</h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:version) %></th>
      <th><%= model_class.human_attribute_name(:description) %></th>
      <th><%= model_class.human_attribute_name(:artifact_type_id) %></th>
      <th><%= model_class.human_attribute_name(:artifact_status_id) %></th>
      <th><%= model_class.human_attribute_name(:assignee_id) %></th>
      <th><%= model_class.human_attribute_name(:changer_id) %></th>
      <th><%= model_class.human_attribute_name(:changed_at) %></th>
      <!--th><%=t '.actions', :default => t('helpers.actions') %></th-->
    </tr>
  </thead>
  <tbody>
    <% @changes.each do |change| %>
      <tr>
        <td><%= change.version %></td>
        <td width="500px"><%= change.description %></td>
        <td><%= ArtifactType.find(change.artifact_type_id).title %></td>
        <td><%= ArtifactStatus.find(change.artifact_status_id).title %></td>
        <td><%= User.find(change.assignee_id).name %></td>
        <td><%= User.find(change.changer_id).name %></td>
        <td><%=l change.created_at, format: :short %></td>
        <!--td></td-->
      </tr>
    <% end %>
  </tbody>
</table>

<!--%= link_to 'Compare', compare_change_path, class: 'btn btn-primary' %-->
