<%- model_class = Artifact -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:identifier) %></th>
      <th><%= model_class.human_attribute_name(:description) %></th>
      <th><%= model_class.human_attribute_name(:artifact_type_id) %></th>
      <th><%= model_class.human_attribute_name(:artifact_status_id) %></th>
      <th><%= model_class.human_attribute_name(:assignee_id) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t('helpers.actions') %></th>
    </tr>
  </thead>
  <tbody>
    <% @artifacts.each do |artifact| %>
      <tr>
        <td><%= link_to artifact.identifier, artifact_path(artifact) %></td>
        <td><%= artifact.description %></td>
        <td><%= ArtifactType.find(artifact.artifact_type_id).title %></td>
        <td><%= ArtifactStatus.find(artifact.artifact_status_id).title %></td>
        <td><%= User.find(artifact.assignee_id).name %></td>
        <td><%=l artifact.created_at, format: :short %></td>
        <td>
          <%= link_to 'History', history_artifact_path(artifact), :class => 'btn btn-mini' %>
          <%= link_to t('.edit', :default => t('helpers.links.edit')),
                      edit_artifact_path(artifact), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t('helpers.links.destroy')),
                      artifact_path(artifact),
                      :method => :delete,
                      remote: true,
                      :data => { :confirm => t('.confirm', :default => t('helpers.links.confirm', :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t('helpers.links.new')),
            new_artifact_path,
            :class => 'btn btn-primary' %>
