<%- model_class = Artifact -%>
<div class="page-header">
  <h1>Links for <%= @artifact.identifier %></h1>
</div>

<h2>Incoming links</h2>
<table class="table table-striped">
  <thead>
    <tr>
      <th width="100px"><%= model_class.human_attribute_name(:identifier) %></th>
      <th width="450px"><%= model_class.human_attribute_name(:description) %></th>
      <th>Type</th>
      <th>Status</th>
      <th><%= model_class.human_attribute_name(:assignee_id) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @incoming.each do |artifact| %>
        <tr>
          <td><%= link_to artifact.identifier, artifact_path(artifact) %></td>
          <td><%= truncate(artifact.description, :length => 150, :omission => '...') %></td>
          <td><%= ArtifactType.find(artifact.artifact_type_id).title %></td>
          <td><%= ArtifactStatus.find(artifact.artifact_status_id).title %></td>
          <td><%= User.find(artifact.assignee_id).name %></td>
          <td><%=l artifact.created_at, format: :short %></td>
          <td>
            <a class="btn btn-mini btn-danger" href="/artifact/<%= @artifact.id %>/remove_incoming?remove_id=<%= artifact.id %>">Delete</a>
          </td>
        </tr>
    <% end %>
    <tr><td colspan="7"><h2 style="margin-left: -10px;">Outcoming links</h2></td></tr>
    <% @outcoming.each do |artifact| %>
      <tr>
        <td><%= link_to artifact.identifier, artifact_path(artifact) %></td>
        <td><%= truncate(artifact.description, :length => 150, :omission => '...') %></td>
        <td><%= ArtifactType.find(artifact.artifact_type_id).title %></td>
        <td><%= ArtifactStatus.find(artifact.artifact_status_id).title %></td>
        <td><%= User.find(artifact.assignee_id).name %></td>
        <td><%=l artifact.created_at, format: :short %></td>
        <td>
          <a class="btn btn-mini btn-danger" href="/artifact/<%= @artifact.id %>/remove_outcoming?remove_id=<%= artifact.id %>">Delete</a>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>